.theme-1{
  --color-1: #ffe989;
  --color-2: #a94a4a;
}
.theme-2{
  --color-1: #A63446;
  --color-2: #f8ff6d;
}
.theme-3{
  --color-1: #206a5d;
  --color-2: #ffcc29;
}
.theme-4{
  --color-1: #3d3d3d;
  --color-2: #FBFAF5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
button {
  text-decoration: none;
  color: inherit;
  background-color: transparent;

  border: 1px solid var(--color-2);
  /* border-radius: 5px; */

  font-family: "New Tegomin", Roboto Mono;
  cursor: pointer;
}
button:hover,
button:focus {
  color: var(--color-1);
  background-color: var(--color-2);

  outline: none;
}

body {
  font-family: Roboto Mono;
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width: 100%;
  background-color: var(--color-2);
  color: var(--color-1);

  font-weight: 800;
}
header div {
  margin: 20px;
  cursor: pointer;
}
.title-div a {
  width: 100%;
}
.logo-img {
  height: 40px;
}

#settings-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: auto;
}
.settings-content {
  background-color: var(--color-2);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  cursor: auto;
}
.settings-content h3 {
  text-align: center;
  font-size: 50px;
  color: var(--color-2);
  background-color: var(--color-1);
  padding: 10px 0;
}
.settings-content h3 a {
  text-decoration: underline;
  color: var(--color-1);
  background-color: var(--color-2);
  padding: 0 5px;
}
.settings-content h3:last-child {
  margin-top: 20px;
}
.settings-content h4 {
  font-size: 15px;
  margin: 50px auto;
  padding: 10px 20px;
  color: var(--color-2);
  background-color: var(--color-1);
  width: fit-content;
  text-align: justify;
}
.settings-content h4 strong {
  text-transform: uppercase;
  color: var(--color-1);
  background-color: var(--color-2);
  padding: 0 5px;
}
.color-themes-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}
.color-theme {
  height: 100px;
  min-width: 100px;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
  position: relative;
  border: 2px solid var(--color-1);
}
.color-theme:hover {
  transform: scale(1.1);
}
.color-theme::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.tick-mark {
  height: 100%;
  width: 100%;
  background: var(--color-2);
  clip-path: polygon(10% 50%, 40% 70%, 80% 0, 100% 10%, 45% 100%, 0 70%);
  margin: 0;
  position: absolute;
  z-index: 200;
  transform-origin: center center;
  transform: scale(0.6);
  overflow: hidden;
  display: none;
}
.tick-mark::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--color-1);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  position: absolute;
  z-index: 300;
}
#activetheme .tick-mark {
  display: block;
}
.color-theme {
  background-color: var(--color-1);
}
.color-theme::after {
  background-color: var(--color-2);
}

select {
  width: auto;
  height: 100%;
}
.select-box {
  margin: 0;
}

.select-box select {
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 12px;
  border: none;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

.select-box select option {
  padding: 30px;
}
.table-wrapper {
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

.table {
  width: 100%;
  margin: 0 0 40px 0;
  min-width: 350px;
}
th {
  padding: 20px;
  background-color: var(--color-2);
  color: var(--color-1);
  text-transform: uppercase;
  border: 2px solid var(--color-1);
}
td {
  text-align: center;
  vertical-align: center;
  padding: 10px;
}
tr {
  margin: 20px;
  background-color: var(--color-1);
  color: var(--color-2);
}

td input[type="number"] {
  height: 40px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td input[type="text"] {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
}

.close {
  color: var(--color-2);
  float: right;
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
main {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.date-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
  margin: 20px auto 0;
}
.date-day div {
  margin: 20px;
}
.time-div {
  height: 100px;
  text-align: center;
}
.am-pm {
  font-size: 40px;
}
#time-rn {
  font-size: 100px;
}
.current-block {
  font-size: 20px;
  font-weight: normal;
}
.main-btn {
  display: block;
  margin: 30px auto 0;
  font-size: 30px;
  padding: 10px;
}
.other-class-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.other-class-h2 {
  margin: 20px;
}
.other-class-ul {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.other-class-ul li {
  padding: 0;
  display: flex;
  justify-content: center;
}
.other-btn {
  font-size: 25px;
  margin: 10px 20px;
  padding: 8px;
  width: 100%;
}

footer {
  color: var(--color-1);
  background-color: var(--color-2);
  text-align: center;
  vertical-align: center;
  padding: 10px;
  font-size: 1rem;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}

@media screen and (min-width: 1400px) {
  main {
    height: 700px;
  }
}
@media screen and (max-width: 1400px) {
  main {
    height: 520px;
  }
  .date-day {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .settings-content {
    width: 90%;
  }
}
@media screen and (max-width: 1050px) {
  .settings-content {
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 30px !important;
  }
  main {
    height: 500px;
  }
  .other-btn {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  main {
    height: 550px;
  }
  .other-class-ul li {
    width: 30%;
    text-align: center;
  }
  #time-rn {
    font-size: 85px;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 570px) {
  #time-rn {
    font-size: 70px;
  }
}
@media screen and (max-width: 450px) {
  #timebody tr td:last-child {
    width: auto;
  }
  main {
    height: 600px;
  }
  .date-day {
    margin: 10px auto 0;
  }
  .time-div {
    height: auto;
  }
  #time-rn {
    font-size: 50px;
  }
  .am-pm {
    font-size: 35px;
  }
  .current-block {
    font-size: 15px;
  }
  #join-btn-rn {
    font-size: 25px;
  }
  .other-class-h2 {
    font-size: 34px;
  }
  .other-class-ul li {
    width: 40%;
  }
}
@media screen and (max-width: 350px) {
  main {
    height: 500px;
    margin: 0 0 10px;
  }
  .title-div {
    margin: 0;
  }
  .date-day {
    font-size: 15px;
    margin: 0 auto;
  }
  #time-rn {
    font-size: 40px;
  }
  .am-pm {
    font-size: 25px;
  }
  .other-class-h2 {
    font-size: 24px;
  }
  .other-class-ul li {
    width: 45%;
  }
}
@media screen and (max-width: 310px) {
  main {
    height: 600px;
    margin: 0;
  }
  .other-btn {
    font-size: 10px;
  }
  .title-div {
    font-size: 10px;
  }
  .date-day {
    font-size: 10px;
  }
  #time-rn {
    font-size: 30px;
  }
  .am-pm {
    font-size: 20px;
  }
  .current-block {
    font-size: 10px;
  }
  .main-btn {
    margin: 10px 0 0;
  }
  #join-btn-rn {
    font-size: 20px;
  }
  .other-class-btn {
    margin: 10px;
  }
  .other-class-h2 {
    margin: 0 20px 10px;
    font-size: 15px;
  }
  .other-class-ul li {
    width: 80%;
  }
  .other-btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 250px) {
  header div img {
    height: 16px;
  }
  .title-div {
    font-size: 8px;
  }
  #join-btn-rn {
    font-size: 18px;
  }
  footer {
    font-size: 12px;
  }
}
